
<div id="header">
  <img src="/assets/Logo.png" width="286" height="42">
  <a [routerLink]="['/']">
    <h1>Online Store</h1>
  </a>

  <ol>
    <li>Features</li>
    <li>Services</li>
    <li>Team</li>
    <li>Reviews</li>

  </ol>


  <div class="contacts">
    <button class="contactsbtn" onclick="myFunction()">Contacts</button>

    <div class="contacts-list" id="Contacts">
      <a href="https://mail.ru/">Email: coffeeTech@mail.ru</a>
      <a href="https://web.whatsapp.com/">Phone: 87056661010</a>
      <a href="https://www.google.kz/maps/">Address: Tole Bi, KBTU</a>
      <a href="https://www.instagram.com/">Instagram: coffeeTech</a>
    </div>
  </div>


<a routerLink="/cart" class="button shopping-button">
  <i class="material-icons">shopping_cart</i> My Shopping cart
</a>
</div>


