.shipping-item{
  width: 100%;
  min-width: 400px;
  max-width: 450px;

  flex-direction: row;
  justify-content: space-between;
  padding: 16px 32px;

  border-radius: 4px;
  background-color: rgb(82,56,53);

  margin: 7px 30em;
  display: flex;
  flex-wrap: wrap;

  color: #daa283;

}
