.products {
  text-align: center;
  width: 30%;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  padding: 20px;


  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  margin: 20px 30em;
  display: flex;
  flex-wrap: wrap;

}

.img {
  background-image: url("/assets/backgroundImage.jpg");
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  border-radius: 5px;
  border: #daa283 solid 2px;
}

.img img {
  width: 80%;
  height: 80%;
  object-fit: contain;
}

.line {
  border-top: 1px solid #e5e5e5;
  margin-top: 10px;
  width: 100%;
}

a{
  background: linear-gradient(45deg, #854930 33%, #c37e5e 66%, #efc3a4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
}
a:hover{
  display: inline-block;
  border-bottom: 1px solid #daa283;
  padding-bottom: 3px;
}

p{
  color: white;
}

#bt_share{
  background-color: #daa283;
  border-radius: 4px;
  transition: 0.5s;
}
#bt_share:hover{
  background-color: #906854;
  border-radius: 0px;
  transition: 0.5s;
}
